.img-resize {
  width: 35%;
  padding: 10px;
  float: left;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.card-item {
  background-color: #ffffff;
  border: 0.5px solid #d0c9c9;
  margin: 9px;
  padding: 13px;
  width: 50%;
  overflow: hidden;
  margin-left: 12%;
}

.g {
  /* display: grid; */
  /* grid-template-columns: repeat(3, 290px); */
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: max-content;
  gap: 10px;
  justify-content: center;
  border: 1 px solid black;
  padding: 10px;
  margin-bottom: 10px;
  list-style-type: none;
  /* margin-left: 50%; margin-right: 50%; */
  align-content: center;
}

.item-org {
  display: flex;
  /* min-height: 120px; */
  min-width: 90%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-wrap: break-word;
}
.left-item-id {
  margin-left: 184px;
}
.quantity {
  display: flex;
  /* width: 480px; */
  /* flex-direction: row; */
  margin-left: 28%;
  /* min-width: 62%; */
  align-items: baseline;
}
.horz-quat {
  display: flex;
  width: 100%;
  /* flex-direction: row; */
  /* align-items: center; */
  justify-content: flex-start;
}

.check-out {
  text-align: left;
}
.cart-r-num {
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.mem-offer {
  text-align: left;
  text-decoration: underline;
}

.top-right-div {
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  position: absolute;
  width: 303px;
  top: 117px;
  right: 224px;
  z-index: 1;
  /* float: left;
  padding: 10px; */
}

.top-right-div-2 {
  display: flex;
  flex-direction: column;
  min-width: 0px;
}

@media screen and (max-width: 768px) {
  .top-right-div {
    position: relative;
    order: 2;
  }
}
.h-top-all {
  margin: 18px;
  width: 27%;
}

.li {
  margin: 10px;
  font-size: 16px;
}

.container-2 {
  display: flex;
  /* flex-wrap: inherit; */
  width: 21%;
  margin-right: 58px;
  justify-content: space-between;
  align-items: center;
}
.hr {
  background-color: black;
}

.sign-in-btn {
  margin-top: 15px;
  display: inline-block;
  background: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  justify-content: center;
  width: 100%;
  padding: 18px 24px;
  border-radius: 30px;
}

.check-out-btn {
  margin-right: 30%;
  display: inline-block;
  background: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  justify-content: center;
  width: 23%;
  padding: 18px 24px;
  border-radius: 29px;
}

/* .img-div {
  display: flex;
  padding: 5px;
  justify-content: center;
  text-align: left;
} */
