.a {
  text-decoration: none !important;
  color: inherit !important;
}

.bt-n {
  display: flex;
  margin-top: 100px;
}

.w-pg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.p-itams {
  justify-content: center;
}
.nav-bar {
  flex-direction: row;
  position: absolute;
  right: 20%;
  top: 18px;
  gap: 23px;
}
