/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: 10px; 
}

.navbar-links a {
  text-decoration: none;
  color: #000; 
} */
